<?xml version='1.0' encoding='utf-8'?>
<widget id="com.formasi.app" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>formasi</name>
    <description>aplikasi resmi organisasi formasi</description>
    <icon src="www/logo/formasi.png" />
    <author email="formasi52263@gmail.com" href="https://formasi52263.blogspot.com">
        formasi Team
    </author>
    <content src="index.html" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <allow-intent href="tel:*" />    
    <allow-intent href="sms:*" />
    <platform name="android">
        <preference name="AndroidWindowSplashScreenAnimatedIcon" value="res/screen/android/formasi.png" />
        <preference name="EnableViewportScale" value="true" />
        <preference name="DisallowOverscroll" value="true" />
        <config-file parent="/*" target="AndroidManifest.xml">
            <uses-permission android:name="android.permission.CALL_PHONE" />
        </config-file>

    </platform>    

</widget>
